.btn {
	margin: 10px;
}

.center {
	width: 50%;
    margin: 0 auto;
}

#coursesTaken button{
	display:inline-block;
	margin-bottom: 12px;
}

.currentDiv {
	display:block;
}

.hidden {
	display:none;
}

#concentrationDropdown {
	/*margin-left: 25%;
	/* this is here because applying
	the .center styling would not work
	*/
}

.noPrereq {
	background-color: #FF7373;
}

.classList { 
	border:2px solid #ccc;
	text-align:left;
	margin-left:auto;
	margin-right:auto;
	min-height: 100px;
	min-width: 300px;
	display:inline-block;
 	height:150px;
 	overflow-y:scroll; 
  padding:10px;
}

#cart {
	float:right;
	vertical-align: top;
	display: inline-block;
	margin-right: 100px;
}

#shoppingCart {
	border:2px solid #ccc;
	text-align:left;
	margin-left:auto;
	margin-right:auto;
	min-height: 100px;
	min-width: 300px;
	display:inline-block;
 	height:150px;
 	overflow-y:scroll; 
  padding:10px;
}


#allClasses { 
	float: left;
	border:2px solid #ccc;
	text-align:left;
	margin-left:auto;
	margin-right:auto;
	min-height: 100px;
	min-width: 300px;
	display:inline-block;
 	height:150px;
 	overflow-y:scroll; 
  padding:10px;
}